# 조건문

In [3]:
# 양수 판별
n = int(input('정수 입력> '))

정수 입력> -3

In [4]:
if n > 0:
    print('%d 은/는 양수입니다.' % n)
else:
    print('%d 은/는 0 또는 음수입니다.' % n)

-3 은/는 0 또는 음수입니다.

In [6]:
# 논리 곱
score1 = int(input('필기성적을 입력하세요: '))
score2 = int(input('실기성적을 입력하세요: '))

필기성적을 입력하세요: 85
실기성적을 입력하세요: 75

In [9]:
if ((score1 >= 80) and (score2 >=80)):
    print('합격!')
else:
    print('불합격!')

불합격!

In [13]:
# 논리 부정
name = None
name = input('이름 입력> ')

이름 입력> James

In [14]:
if not name:
    print('이름이 입력되지 않았음.')
else:
    print('이름: %s' % name)

이름: James

In [18]:
# 양수, 0, 음수 판별
n = int(input('정수 입력> '))

정수 입력> 5

In [19]:
if n > 0:
    print('%d 은/는 양수입니다.' % n)
elif n == 0:
    print('0 입니다.')
else:
    print('%d 은/는 음수입니다.' % n)

5 은/는 양수입니다.

In [24]:
# 연습문제: 학점계산
# A: 90 <= score <= 100
# B: 80 <= score < 90
# C: 70 <= score < 80
# D: 60 <= score < 70
# F: score < 60

score = int(input('정수 입력> '))

정수 입력> 100

In [28]:
if score >= 90:
    grade='A'
elif score >= 80:
    grade='B'
elif score >= 70:
    grade='C'
elif score >= 60:
    grade='D'
else:
    grade='F'
print(score, grade)

100 A

In [ ]:
# 세 수의 합과 평균
x = int(input('숫자> '))
y = int(input('숫자> '))
z = int(input('숫자> '))

In [29]:
x, y, z = input('세개의 숫자 입력').split()

세개의 숫자 입력45 89 38

In [31]:
x, y, z

('45', '89', '38')

In [32]:
int(x), int(y), int(z)

(45, 89, 38)

In [33]:
x, y, z = map(int, input('세개의 숫자 입력').split())
x, y, z

세개의 숫자 입력35 56 78

(35, 56, 78)

In [34]:
sum = x + y + z
avg = sum /3
sum, avg

(169, 56.333333333333336)

In [35]:
# 만 나이 계산
current_year = 2020
current_month = 8
current_day = 28

In [59]:
birth_year, birth_month, birth_day = map(int, input('생일 입력> ').split())
birth_year, birth_month, birth_day

생일 입력> 2000 8 28

(2000, 8, 28)

In [64]:
if current_month > birth_month:
    age = current_year - birth_year
elif current_month < birth_month:
    age = current_year - birth_year - 1
elif current_day < birth_day:
    age = current_year - birth_year - 1
else:
    age = current_year - birth_year

In [66]:
age

20

In [67]:
# 현재월 > 생월
if current_month > birth_month:
    age = current_year - birth_year

# 현재월 < 생월
elif current_month < birth_month:
    age = current_year - birth_year - 1

# 현재월 == 생월
else:
    
    # 현재일 < 생일
    if current_day < birth_day:
        age = current_year - birth_year - 1
    
    # 현재일 >= 생일
    else:
        age = current_year - birth_year
        
print(age)

20

In [70]:
# 파이썬 datetime 모듈 활용
import datetime
datetime.datetime.now()

datetime.datetime(2020, 8, 28, 11, 20, 17, 299906)

In [71]:
current_year = datetime.datetime.now().year
current_month = datetime.datetime.now().month
current_day = datetime.datetime.now().day
current_year, current_month, current_day

(2020, 8, 28)

In [72]:
birth_year, birth_month, birth_day = map(int, input('생일 입력> ').split())
birth_year, birth_month, birth_day

생일 입력> 2000 8 27

(2000, 8, 27)

In [73]:
# 현재월 > 생월
if current_month > birth_month:
    age = current_year - birth_year

# 현재월 < 생월
elif current_month < birth_month:
    age = current_year - birth_year - 1

# 현재월 == 생월
else:
    
    # 현재일 < 생일
    if current_day < birth_day:
        age = current_year - birth_year - 1
    
    # 현재일 >= 생일
    else:
        age = current_year - birth_year
        
print(age)

20

In [74]:
#생일 6자리 숫자로 받아서 처리하기
birthday = input('생일 6자리 숫자> ')
b_year = int(birthday[:2])
if b_year <= 20:
    b_year += 2000
else:
    b_year += 1900 
b_month = int(birthday[2:4])
b_day = int(birthday[4:])
b_year, b_month, b_day

생일 6자리 숫자> 000430

(2000, 4, 30)

In [87]:
#생일 임의의 연속된 숫자로 받아서 처리하기
birthday = input('생일 (6, 7, 8자리 숫자)> ')

if len(birthday) == 6:
    b_year = int(birthday[:2])
    if b_year <= 20:
        b_year += 2000
    else:
        b_year += 1900 
    b_month = int(birthday[2:4])
    b_day = int(birthday[4:])
elif len(birthday) == 7:
    b_year = int(birthday[:2])
    if int(birthday[-1]) > 2:
        b_year += 2000
    else:
        b_year += 1900 
    b_month = int(birthday[2:4])
    b_day = int(birthday[4:6])
elif len(birthday) == 8:
    b_year = int(birthday[:4])
    b_month = int(birthday[4:6])
    b_day = int(birthday[6:8])
else:
    print('6 ~ 8자리의 숫자를 입력하세요')
    
print(b_year, b_month, b_day)

생일 (6, 7, 8자리 숫자)> 19840226
1984 2 26

# 연습문제

In [86]:
# if~ 구문으로 월을 입력받아 계절 표시하기
month = int(input('월을 입력하세요: '))
if month >= 3 and month <= 5:
    print('%d월은 봄입니다.' % month)
if month >= 6 and month <= 8:
    print('%d월은 여름입니다.' % month)
if month >= 9 and month <= 11:
    print('%d월은 가을입니다.' % month)
if month == 12 or month == 1 or month == 2:
    print('%d월은 겨울입니다.' % month)

월을 입력하세요: 1
1월은 겨울입니다.

In [2]:
# if~ 구문으로 숫자로 열차 좌석 판별하기
a = input('좌석 종류를 입력해 주세요(1:일반실, 2:특실): ')

seat1 = '일반실'
seat2 = '특실'

if a == '1':
    print('%s입니다.' % seat1)
    
if a == '2':
    print('%s입니다.' % seat2)

좌석 종류를 입력해 주세요(1:일반실, 2:특실): 2
특실입니다.