# 리스트와 튜플 사용하기

In [23]:
s = '''
List: [] - numpy(array)
Tuple: () - 수정 불가
Dictonary: {} - { 'key' : 'value' } - pandas(DataFrame)
set: {} - 중복되는 않는 값이 들어가는 리스트
'''
print(s)

List: [] - numpy(array)
Tuple: () - 수정 불가
Dictonary: {} - { 'key' : 'value' } - pandas(DataFrame)
set: {} - 중복되는 않는 값이 들어가는 리스트

In [24]:
a = [38, 21, 53, 62, 19]
a

[38, 21, 53, 62, 19]

In [25]:
person = ['james', 17, 175.3, True]
person

['james', 17, 175.3, True]

In [26]:
# 빈 리스트를 만들때
empty_list = []
el = list()

In [27]:
# range
# range(1,10) - for (var i=1; i<10; i++)
# range(1,10,2) - for (var i=1; i<10; i+=2)
range(9)

range(0, 9)

In [28]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
a = list(range(1, 10, 2))
a

[1, 3, 5, 7, 9]

In [30]:
a = list(range(10, 0, -1))
a

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# 튜플

In [31]:
a = (38, 21, 53, 62, 19)
a

(38, 21, 53, 62, 19)

In [32]:
b = 23, 5, 32
b

(23, 5, 32)

In [33]:
person = ('james', 17, 175.3, True)
person

('james', 17, 175.3, True)

In [34]:
# 한 개의 엘리먼트를 갖는 튜플은 마지막에 콤마를 붙인다.
# 콤마를 붙이지 않는경우 튜플이 아니다.
(38)

38

In [35]:
(38,)

(38,)

In [36]:
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [37]:
b = tuple(range(5, 12))
b

(5, 6, 7, 8, 9, 10, 11)

In [38]:
c = tuple(range(-4, 10, 2))
c

(-4, -2, 0, 2, 4, 6, 8)

In [39]:
d = tuple(range(10, 0, -1))
d

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [40]:
# List <--> Tuple
tuple_a = tuple([1,2,3])
tuple_a

(1, 2, 3)

In [41]:
list_a = list((1,2,3))
list_a

[1, 2, 3]

In [42]:
list('Hello')

['H', 'e', 'l', 'l', 'o']

In [43]:
tuple('안녕하세요')

('안', '녕', '하', '세', '요')

In [44]:
a, b, c = [1, 2, 3]
print(a, b, c)

1 2 3

In [45]:
d, e, f = (4, 5, 6)
print(d, e, f)

4 5 6

In [46]:
x, y, z = 7, 8, 9
print(x, y, z)

7 8 9

In [47]:
# Swapping
x = 10
y = 20
x, y = y, x
print(x, y)

20 10

In [48]:
# 입력과 연계
x = input()
x

'5'

In [49]:
print(x, int(10))

5 10

In [50]:
x = input().split()
x

['5']

In [51]:
a, b, c = map(int, ['10', '20', '30'])
print(a, b, c)

10 20 30

In [53]:
a, b, c = map(int, input('숫자 3개 입력> ').split())

In [54]:
print(a, b, c)

5 10 15

In [55]:
[int(i) for i in input('숫자 3개 입력> ').split()]

[10, 20, 30]

In [62]:
# 표준 입력으로 정수가 입력됩니다. range의 시작하는 숫자는 -10, 끝나는 숫자는 10이며 입력된 정수만큼 증가하는 숫자가 들어가도록 튜플을 만들고, 해당 튜플을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).
x = int(input())
s = tuple(range(-10, 10, x))
s

(-10, -7, -4, -1, 2, 5, 8)