# Unit 11. 시퀀스 자료형 활용하기

### 공통기능

In [4]:
# 시퀀스 자료형: list, tuple, range, string

30 in [1, 2, 3]

False

In [5]:
30 in (10, 20, 30)

True

In [6]:
30 in range(31)

True

In [7]:
'a' in 'apple'

True

In [8]:
30 not in [1, 2, 3]

True

In [10]:
# 객체 연결하기
'Hello' + ' ' + 'Python'

'Hello Python'

In [11]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [12]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [14]:
range(10) + range(10, 20)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

In [15]:
list(range(10)) + list(range(10, 20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [18]:
# 반복하기
'hello ' * 3

'hello hello hello '

In [20]:
list((1, 2, 3)) * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [22]:
tuple((1, 2, 3)) * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [23]:
range(5) * 3

TypeError: unsupported operand type(s) for *: 'range' and 'int'

In [24]:
list(range(5)) * 3

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [25]:
'Hello ' + 10

TypeError: can only concatenate str (not "int") to str

In [26]:
'Hello ' + str(10)

'Hello 10'

### 갯수 구하기

In [29]:
len('Hello')

5

In [30]:
len([1, 2, 3])

3

In [31]:
len((4, 5, 6))

3

In [32]:
len(range(10))

10

In [33]:
len(range(1, 100, 2))

50

In [34]:
len('안녕하세요')

5

In [35]:
len('안녕하세요'.encode('utf-8'))

15

In [38]:
# 초성, 중성, 종성 분리하기
x = '안녕하세요'.encode('utf-8')
x

b'\xec\x95\x88\xeb\x85\x95\xed\x95\x98\xec\x84\xb8\xec\x9a\x94'

In [39]:
x[::3] # 초성

b'\x88\x95\x98\xb8\x94'

In [40]:
x[1::3] # 중성

b'\x95\x85\x95\x84\x9a'

In [41]:
x[2::3] # 종성

b'\x88\x95\x98\xb8\x94'

In [42]:
type(x)

bytes

### 인덱싱

In [43]:
list_a = [11, 22, 33, 44, 55]
list_a[0]

11

In [44]:
tuple_a = (11, 22, 33, 44, 55)
tuple_a[4]

55

In [45]:
hello = 'Hello, world!'
hello[7]

'w'

In [46]:
hello[-1]

'!'

In [47]:
hello[len(hello)-1]

'!'

In [48]:
tuple_a[-2]

44

In [49]:
list_a[-3]

33

In [50]:
tuple_a[5]

IndexError: tuple index out of range

In [51]:
# 값 할당
list_a[-1] = 66
list_a

[11, 22, 33, 44, 66]

### 시퀀스 자료형 중에서 튜플, range, 문자열은 읽기 전용

In [ ]:
tuple_a[-1] = 66

In [53]:
hello[-1] = '^'
hello

TypeError: 'str' object does not support item assignment

In [54]:
# del
del list_a[-1]
list_a

[11, 22, 33, 44]

In [55]:
del tuple_a[-1]

TypeError: 'tuple' object doesn't support item deletion

In [60]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[0:4]

[0, 10, 20, 30]

In [61]:
a[:4]

[0, 10, 20, 30]

In [57]:
a[0:-1:2]

[0, 20, 40, 60, 80]

In [59]:
a[::2]

[0, 20, 40, 60, 80]

In [58]:
a[::]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [64]:
a[4:7]

[40, 50, 60]

In [65]:
a[6:3:-1]

[60, 50, 40]

In [66]:
a[6:3]

[]

In [69]:
a[1:-1:2]

[10, 30, 50, 70]

In [70]:
a[1:len(a):2]

[10, 30, 50, 70, 90]

In [71]:
a[1::2]

[10, 30, 50, 70, 90]

In [74]:
# NodeJS hello.substring(2, 9)
hello[2:9]

'llo, wo'

In [75]:
# 슬라이스 요소에 값 할당하기
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [76]:
a[3:6] = ['30', '40', '50']
a

[0, 10, 20, '30', '40', '50', 60, 70, 80, 90]

In [85]:
a[7:9] = (79,)
a

[0, 10, 20, '30', '40', '50', 60, 79]

In [86]:
a[1:2] = [1, 2, 3]
a

[0, 1, 2, 3, 20, '30', '40', '50', 60, 79]

In [87]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a[2:8:2] = ['a', 'b', 'c']
a

[0, 10, 'a', 30, 'b', 50, 'c', 70, 80, 90]

In [89]:
del a[2:8:2]
a

[0, 10, 50, 80]

In [90]:
m = [[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]
m

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

In [91]:
m[1][2]

7

In [102]:
m[:][1]

[5, 6, 7, 8]

In [97]:
m[1][:]

[5, 6, 7, 8]

In [95]:
m[:][:]

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]