# Unit 16. for 반복문

In [1]:
for i in range(5):
    print('Hello, world!')

Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!

In [3]:
for i in range(5):
    print('Hello, world!', i)

Hello, world! 0
Hello, world! 1
Hello, world! 2
Hello, world! 3
Hello, world! 4

In [5]:
sum = 0
for i in range(1, 100, 2):
    sum += i
print(sum)

2500

In [8]:
for i in range(10, 0):
    print('Hello world', i)

In [7]:
for i in range(5, 0, -1):
    print('Hello world', i)

Hello world 5
Hello world 4
Hello world 3
Hello world 2
Hello world 1

In [11]:
for i in reversed(range(5)):
    print('Hello world', i)

Hello world 4
Hello world 3
Hello world 2
Hello world 1
Hello world 0

In [14]:
for i in range(5):
    print('Hello world', i)
    if (i == 2):
        break

Hello world 0
Hello world 1
Hello world 2

In [16]:
loop = int(input('반복할 횟수> '))
for i in range(loop):
    print('Hello world', i)

Hello world 0
Hello world 1

## Sequence 객체로 반복하기

In [17]:
a = [10, 20, 30, 40, 50]
for element in a:
    print(element, end=' ')

10 20 30 40 50

In [19]:
fruits = ('apple', 'orange', 'grape')
for fruit in fruits:
    print(fruit, end=' ')

apple orange grape

In [21]:
for letter in 'Python':
    print(letter, end=" ")

P y t h o n

In [22]:
for letter in reversed('Python'):
    print(letter, end=" ")

n o h t y P

표준 입력으로 정수가 입력됩니다. 입력된 정수의 구구단을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 출력 형식은 숫자 * 숫자 = 숫자처럼 만들고 숫자와 *, = 사이는 공백을 한 칸 띄웁니다.

In [27]:
n = int(input())
for i in range(1, 10):
    print(n, '*', i, '=', n * i)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63