# Unit 22. 리스트와 튜플 응용하기

### 리스트 조작

In [1]:
a = [10, 20, 30]
a.append(500)
a

[10, 20, 30, 500]

In [2]:
a.append([3, 4])
a

[10, 20, 30, 500, [3, 4]]

In [3]:
# 3 x 6 list 에 1 ~ 6 랜덤값 채우기
import random
matrix = []
for i in range(3): # 행의 갯수
    row = []
    for k in range(6): # 열의 갯수
        row.append(random.randint(1, 6))
    matrix.append(row)
print(matrix)

[[1, 3, 3, 2, 4, 6], [5, 6, 6, 5, 5, 4], [1, 5, 3, 2, 2, 1]]

In [4]:
import random
matrix = []
for i in range(3): # 행의 갯수
    row = []
    for k in range(6): # 열의 갯수
        row.append(random.randint(1, 6))
    matrix.append(row)

In [5]:
def print_matrix(matrix):
    for row in matrix:
        for col in row:
            print(col, end=' ')
        print()

In [6]:
print(matrix)

[[5, 2, 2, 5, 4, 6], [6, 3, 6, 1, 5, 3], [2, 1, 5, 1, 2, 1]]

In [7]:
# old-fashioned 임의의 행렬 출력하기
def oil_print_matrix(matrix):
    for i in range(len(matrix)):
        for k in range(len(matrix[0])):
            print(matrix[i][k], end=' ')
        print()

In [8]:
oil_print_matrix(matrix)

5 2 2 5 4 6
6 3 6 1 5 3
2 1 5 1 2 1

In [9]:
# 리스트 엘리먼트 삭제
a = [10, 20, 30, 500]
a.pop()
a

[10, 20, 30]

### Stack: last-in, first-out
### Queue: first-in, first-out

In [10]:
a.index(30)

2

In [11]:
a.append(20)
a

[10, 20, 30, 20]

In [12]:
a.count(20)

2

In [13]:
a.reverse()
a

[20, 30, 20, 10]

In [14]:
a.sort()
a

[10, 20, 20, 30]

In [15]:
a.sort(reverse=True)
a

[30, 20, 20, 10]

In [16]:
a = [10, 20, 30, 15, 20, 40]
a.sort()
a

[10, 15, 20, 20, 30, 40]

In [17]:
b = [10, 20, 30, 15, 20, 40]
sorted(b)

[10, 15, 20, 20, 30, 40]

In [18]:
b

[10, 20, 30, 15, 20, 40]

In [19]:
a = [10, 20, 30]
a[3] = 40

IndexError: list assignment index out of range

In [95]:
a[3:] = [40]
a

[10, 20, 30, 40]

In [94]:
a[4:] = (50,)
a

[10, 20, 30, 50]

### 리스트 할당과 복사

In [98]:
a = [0, 0, 0, 0, 0]
b = a
b

[0, 0, 0, 0, 0]

In [99]:
b[2] = 2
b

[0, 0, 2, 0, 0]

In [100]:
a

[0, 0, 2, 0, 0]

In [101]:
a is b

True

In [102]:
a = [0, 0, 0, 0, 0]
b = a.copy()
b[2] = 2
a

[0, 0, 0, 0, 0]

In [103]:
b

[0, 0, 2, 0, 0]

In [104]:
a is b

False

### 반복문으로 출력하기

In [107]:
a = [10, 20, 30, 40]
for index, value in enumerate(a):
    print(index, value)

0 10
1 20
2 30
3 40

In [47]:
a = [10, 20, 30, 40]
for index, value in enumerate(a, start=3):
    print(index, value)

3 10
4 20
5 30
6 40

### 유용한 함수

In [48]:
# 가장 작은/큰 수는?
a = [10, 20, 30, 40, 5]
smallest = a[0]
largest = a[0]
for i in range(1, len(a)):
    if a[i] < smallest:
        smallest = a[i]
    if a[i] > largest:
        largest = a[i]
print(smallest, largest)

5 40

In [49]:
a = [10, 20, 30, 40, 5]
a.sort()
print(a[0], a[-1])

5 40

In [50]:
a = [10, 20, 30, 40, 5]
print(min(a), max(a), sum(a))

5 40 105

### 리스트 표현식 (List Comprehension)

In [21]:
# 1에서 10까지 제곱수를 리스트로 만드시오
squares = []
for i in range(1, 11):
    squares.append(i*i)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
squares = [i*i for i in range(1, 11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
# 홀수
squares_odd = [i*i for i in range(1,11) if i%2==1]
squares_odd

[1, 9, 25, 49, 81]

In [25]:
# 2의배수
squares_even = [i*i for i in range(1,11) if i%2==0]
squares_even

[4, 16, 36, 64, 100]

In [30]:
a = [i*k for i in range(2,10) 
            for k in range(1,10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

### map 함수

In [34]:
a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)):
    a[i] = int(a[i])
    # a[i] = a[i]+0.5 # 반올림
    # a[i] = round(a[i]) # 반올림
a

[1, 2, 3, 4]

In [38]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
a

[1, 2, 3, 4]

In [40]:
x = list(map(int, input('여러개의 정수> ').split()))
x

[1, 2, 3]

In [42]:
hour, minute, second = map(int, input('hh:mm:ss> ').split(':'))
print(hour, minute, second)

11 22 33

In [44]:
# f-string
print(f'{hour=}, {minute=}, {second=}')

hour=11, minute=22, second=33

In [46]:
year, month, day = map(int, input('yy-mm-dd> ').split('-'))
print(year, month, day)

20 10 30

### 튜플

In [48]:
a = (38, 21, 53, 62, 19, 53)
a.index(53)

2

In [49]:
a.count(53)

2

In [52]:
print(min(a), max(a), sum(a))

19 62 246

In [54]:
# 리스트 a에 들어있는 문자열 중에서 길이가 5인 것들만 리스트 형태로 출력되게 만드세요

a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']

[i for i in a if len(i) == 5]

['alpha', 'bravo', 'delta', 'hotel', 'india']

In [70]:
# 표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1~20, 두 번째 입력 값의 범위는 10~30이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다). 첫 번째 정수부터 두 번째 정수까지를 지수로 하는 2의 거듭제곱 리스트를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 리스트의 두 번째 요소와 뒤에서 두 번째 요소는 삭제한 뒤 출력하세요. 출력 결과는 리스트 형태라야 합니다.

x = list(map(int, input().split()))
x

[1, 10]

In [71]:
begin = x[0]
finish = x[1]
for i in range(begin, finish):
    print( (i**2) )

1
4
9
16
25
36
49
64
81