# Unit 26. 세트 사용하기

파이썬은 집합을 표현하는 세트(set)라는 자료형을 제공합니다. 집합을 영어로 하면 세트인데 수학에서 배우는 그 집합이 맞습니다. 따라서 세트는 합집합, 교집합, 차집합 등의 연산이 가능합니다.

In [2]:
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}
fruits

{'cherry', 'grape', 'orange', 'pineapple', 'strawberry'}

In [4]:
type(fruits)

# 딕셔너리와 표현방법이 똑같다.
# dict {}
# set {}

# 중복 허용 불가
# 순서 보장 불가

set

In [6]:
# 특히 세트는 리스트, 튜플, 딕셔너리와는 달리 [ ](대괄호)로 특정 요소만 출력할 수는 없습니다.
fruits[0]

TypeError: 'set' object is not subscriptable

In [7]:
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}
'orange' in fruits

True

In [8]:
'peach' in fruits

False

In [9]:
'peach' not in fruits

True

In [10]:
'orange' not in fruits

False

In [11]:
# 유일한 문자만 세트로 만듦
a = set('apple')
a

{'a', 'e', 'l', 'p'}

In [12]:
a = {'apple'}
a

{'apple'}

In [13]:
b = set(range(5))
b

{0, 1, 2, 3, 4}

In [14]:
h = set('안녕하세요.')
h

{'.', '녕', '세', '안', '요', '하'}

### 집합 연산

In [17]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

In [18]:
# | 연산자는 합집합(union)을 구하며 OR 연산자 |를 사용합니다. set.union 메서드와 동작이 같습니다.
a | b

{1, 2, 3, 4, 5, 6}

In [16]:
set.union(a, b)

{1, 2, 3, 4, 5, 6}

In [19]:
# & 연산자는 교집합(intersection)을 구하며 AND 연산자 &를 사용합니다. set.intersection 메서드와 동작이 같습니다.
a & b

{3, 4}

In [20]:
set.intersection(a, b)

{3, 4}

In [21]:
# - 연산자는 차집합(difference)을 구하며 뺄셈 연산자 -를 사용합니다. set.difference 메서드와 동작이 같습니다.

In [22]:
a - b

{1, 2}

In [23]:
set.difference(a, b)

{1, 2}

In [24]:
# ^ 연산자는 대칭차집합(symmetric difference)을 구하며 XOR 연산자 ^를 사용합니다. set.symmetric_difference 메서드와 동작이 같습니다.
a ^ b

{1, 2, 5, 6}

In [25]:
set.symmetric_difference(a, b)

{1, 2, 5, 6}

In [32]:
# |=은 현재 세트에 다른 세트를 더하며 update 메서드와 같습니다.
a = {1, 2, 3, 4}
a = a | {5}
a

{1, 2, 3, 4, 5}

In [33]:
a = {1, 2, 3, 4}
a |= {5}
a

{1, 2, 3, 4, 5}

In [34]:
a = {1, 2, 3, 4}
a.update({5})
a

{1, 2, 3, 4, 5}

In [35]:
# &=은 현재 세트와 다른 세트 중에서 겹치는 요소만 현재 세트에 저장하며 intersection_update 메서드와 같습니다.
a = {1, 2, 3, 4}
a &= {0, 1, 2, 3, 4}
a

{1, 2, 3, 4}

In [36]:
a = {1, 2, 3, 4}
a.intersection_update({0, 1, 2, 3, 4})
a

{1, 2, 3, 4}

In [37]:
# -=은 현재 세트에서 다른 세트를 빼며 difference_update 메서드와 같습니다.
a = {1, 2, 3, 4}
a -= {3}
a

{1, 2, 4}

In [38]:
a = {1, 2, 3, 4}
a.difference_update({3})
a

{1, 2, 4}

In [39]:
# ^=은 현재 세트와 다른 세트 중에서 겹치지 않는 요소만 현재 세트에 저장하며 symmetric_difference_update 메서드와 같습니다.
a = {1, 2, 3, 4}
a ^= {3, 4, 5, 6}
a

{1, 2, 5, 6}

In [40]:
a = {1, 2, 3, 4}
a.symmetric_difference_update({3, 4, 5, 6})
a

{1, 2, 5, 6}

### 부분 집합과 상위집합 확인하기

In [41]:
# <=은 현재 세트가 다른 세트의 부분집합(subset)인지 확인하며 issubset 메서드와 같습니다.
a = {1, 2, 3, 4}
a <= {1, 2, 3, 4}

True

In [42]:
a.issubset({1, 2, 3, 4, 5})

True

In [43]:
# <은 현재 세트가 다른 세트의 진부분집합(proper subset)인지 확인하며 메서드는 없습니다.
a = {1, 2, 3, 4}
a < {1, 2, 3, 4, 5}

True

In [44]:
# >=은 현재 세트가 다른 세트의 상위집합(superset)인지 확인하며 issuperset 메서드와 같습니다.
a = {1, 2, 3, 4}
a >= {1, 2, 3, 4}

True

In [45]:
a.issuperset({1, 2, 3, 4})

True

In [46]:
# >은 현재 세트가 다른 세트의 진상위집합(proper superset)인지 확인하며 메서드는 없습니다. 
a = {1, 2, 3, 4}
a > {1, 2, 3}

True

In [47]:
# 세트가 같은지 다른지 확인하기
a = {1, 2, 3, 4}
a == {1, 2, 3, 4}

True

In [48]:
a == {4, 2, 1, 3}

True

In [49]:
# != 연산자는 세트가 다른지 확인합니다.
a = {1, 2, 3, 4}
a != {1, 2, 3}

True

In [52]:
# 세트가 겹치지 않는지 확인하기
# 겹치는 요소가 없음
a = {1, 2, 3, 4}
a.isdisjoint({5, 6, 7, 8})

True

In [51]:
# a와 3, 4가 겹침
a.isdisjoint({3, 4, 5, 6})

False

### 세트 조작하기

In [53]:
# 세트에 요소 추가하기
a = {1, 2, 3, 4}
a.add(5)
a

{1, 2, 3, 4, 5}

In [54]:
# 세트에서 특정 요소를 삭제하기
a.remove(3)
a

{1, 2, 4, 5}

In [55]:
# discard(요소)는 세트에서 특정 요소를 삭제하고 요소가 없으면 그냥 넘어갑니다.
a.discard(2)
a

{1, 4, 5}

In [56]:
# pop()은 세트에서 임의의 요소를 삭제하고 해당 요소를 반환합니다. 만약 요소가 없으면 에러를 발생시킵니다.
a = {1, 2, 3, 4}
a.pop()
a

{2, 3, 4}

In [57]:
# clear()는 세트에서 모든 요소를 삭제합니다.
a.clear()
a

set()

In [58]:
# 세트의 요소 개수 구하기
a = {1, 2, 3, 4}
len(a)

4

In [59]:
# 세트의 할당과 복사
a = {1, 2, 3, 4}
b = a

In [60]:
b.add(5)
a

{1, 2, 3, 4, 5}

In [62]:
a = {1, 2, 3, 4}
b = a.copy()
b.add(5)
a

{1, 2, 3, 4}

In [63]:
# 반복문으로 세트의 요소를 모두 출력하기
a = {1, 2, 3, 4}
for i in a:
    print(i)

1
2
3
4

In [64]:
# 세트 표현식 사용하기
a = {i for i in 'apple'}
a

{'a', 'e', 'l', 'p'}

In [65]:
a = {i for i in 'pineapple' if i not in 'apl'}
a

{'e', 'i', 'n'}

### 26.8 연습문제: 공배수 구하기

다음 소스 코드를 완성하여 1부터 100까지 숫자 중 3과 5의 공배수를 세트 형태로 출력되게 만드세요.

In [66]:
a = {i for i in range(1, 101) if i % 3 == 0}
b = {i for i in range(1, 101) if i % 5 == 0}
print(a & b)

{75, 45, 15, 90, 60, 30}