# Unit 30. 함수에서 위치 인수와 키워드 인수 사용하기

### 위치 인수와 리스트 언패킹 사용하기

- 위치인수: mandatory
- 키워드인수: option

### 위치 인수를 사용하는 함수를 만들고 호출하기

In [3]:
def print_numbers(a, b, c):
    print(a)
    print(b)
    print(c)

In [5]:
print_numbers(10, 20, 30)

10
20
30

### 언패킹 사용하기

즉, 리스트(튜플) 앞에 *를 붙이면 언패킹(unpacking)이 되어서 print_numbers(10, 20, 30)과 똑같은 동작이 됩니다. 말 그대로 리스트의 포장을 푼다는 뜻입니다.

In [7]:
x = [10, 20, 30]
print_numbers(*x)

10
20
30

In [9]:
print_numbers(*(10, 20, 30))

10
20
30

### 가변 인수 함수 만들기

In [10]:
def print_numbers(*args):
    for arg in args:
        print(arg)

In [11]:
print_numbers(10, 20, 30)

10
20
30

In [12]:
print_numbers(10, 20, 30, 40, 50)

10
20
30
40
50

In [13]:
x = [10, 20, 30]
print_numbers(*x)

10
20
30

### 고정 인수와 가변 인수를 함께 사용하기

In [14]:
def print_numbers(a, *args):
    print(a)
    for arg in args:
        print(arg)

In [15]:
print_numbers(10, 20, 30, 40, 50)

10
20
30
40
50

### 키워드 인수 사용하기

In [16]:
def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [17]:
personal_info('홍길동', 30, '서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [18]:
personal_info(name='홍길동', age=30, address='서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [34]:
personal_info(age=30, address='서울시 용산구 이촌동', name='홍길동')

age: 30
address: 서울시 용산구 이촌동
name: 홍길동

### 키워드 인수와 딕셔너리 언패킹 사용하기

In [23]:
def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [24]:
hong = {'name': '홍길동', 'age': 30, 'address': '서울시 강서구 발산동'}
personal_info(**hong)

이름:  홍길동
나이:  30
주소:  서울시 강서구 발산동

### **를 두 번 사용하는 이유

그런데 딕셔너리는 **처럼 *를 두 번 사용할까요? 왜냐하면 딕셔너리는 키-값 쌍 형태로 값이 저장되어 있기 때문입니다.

In [27]:
hong = {'name': '홍길동', 'age': 30, 'address': '서울시 강서구 발산동'}
personal_info(*hong)

이름:  name
나이:  age
주소:  address

### 키워드 인수를 사용하는 가변 인수 함수 만들기

In [48]:
# kwargs = Keyword Arguments
def personal_info(**kwargs):
    for kw, arg in kwargs.items():
        print(kw, ': ', arg, sep='')

In [52]:
personal_info(name='홍길동')

name: 홍길동

In [51]:
personal_info(name='홍길동', age=30, address='서울시 용산구 이촌동')

name: 홍길동
age: 30
address: 서울시 용산구 이촌동

In [50]:
personal_info(name='홍길동', age=30, old=30, address='서울시 용산구 이촌동')

name: 홍길동
age: 30
old: 30
address: 서울시 용산구 이촌동

In [49]:
personal_info(**{'name':'홍길동', 'old':30, 'address':'서울시 용산구 이촌동'})

name: 홍길동
old: 30
address: 서울시 용산구 이촌동

In [54]:
def personal_info(**kwargs):
    if 'name' in kwargs:
        print('이름: ', kwargs['name'])
    if 'age' in kwargs:
        print('나이: ', kwargs['age'])
    if 'address' in kwargs:
        print('주소: ', kwargs['address'])

In [55]:
personal_info(**{'name':'홍길동', 'old':30, 'address':'서울시 용산구 이촌동'})

이름:  홍길동
주소:  서울시 용산구 이촌동

### 고정 인수와 가변 인수(키워드 인수)를 함께 사용하기

In [56]:
def personal_info(name, **kwargs):
    print(name)
    print(kwargs)

In [58]:
personal_info('홍길동', age=30, address='서울시 강서구 발산동')

홍길동
{'age': 30, 'address': '서울시 강서구 발산동'}

### 위치 인수와 키워드 인수를 함께 사용하기

In [60]:
def custom_print(*args, **kwargs):
    print(*args, **kwargs)

In [62]:
custom_print(1, 2, 3, sep=':', end='END\n')

1:2:3END

In [63]:
custom_print(1, 2, 3, 4)

1 2 3 4

### 고정인수, 가변 위치인수, 키워드인수 함께 사용하기

In [66]:
def custom_print(a, b, *args, **kwargs):
    print(a, b, *args, **kwargs)

In [70]:
custom_print(1, 2, 3, 4, sep='\t', end='END\n')

1	2	3	4END

### 매개변수에 초깃값 지정하기 (Default value)

In [72]:
def personal_info(name, age, address='비공개'):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

In [73]:
personal_info('홍길동', 30)

이름:  홍길동
나이:  30
주소:  비공개

In [74]:
personal_info('홍길동', 30, '서울시 강서구 발산동')

이름:  홍길동
나이:  30
주소:  서울시 강서구 발산동

초깃값이 지정된 매개변수 다음에는 초깃값이 없는 매개변수가 올 수 없습니다.

In [76]:
def personal_info(name, address='비공개', age):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

SyntaxError: non-default argument follows default argument (<ipython-input-76-b14afe4a2746>, line 1)

In [78]:
def personal_info(name, address='비공개', age=0):
    print('이름: ', name)
    print('나이: ', age)
    print('주소: ', address)

### 30.6 연습문제: 가장 높은 점수를 구하는 함수 만들기

In [80]:
korean, english, mathematics, science = 100, 86, 81, 91

def get_max_score(*args):
    return max(args)

max_score = get_max_score(korean, english, mathematics, science)
print('높은 점수:', max_score)
 
max_score = get_max_score(english, science)
print('높은 점수:', max_score)

높은 점수: 100
높은 점수: 91

### 30.7 심사문제: 가장 낮은 점수, 높은 점수와 평균 점수를 구하는 함수 만들기

표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. 다음 소스 코드를 완성하여 가장 높은 점수, 가장 낮은 점수, 평균 점수가 출력되게 만드세요. 평균 점수는 실수로 출력되어야 합니다.

In [88]:
korean, english, mathematics, science = map(int, input().split())

In [26]:
korean, english, mathematics, science = 76, 82, 89, 84

def get_min_max_score(*args):
    return float(min(args)), float(max(args))

min_score, max_score = get_min_max_score(korean, english, mathematics, science)
print(min_score, max_score)

76.0 89.0

In [14]:
korean, english, mathematics, science = 76, 82, 89, 84

def get_average(**kwargs):
    el = []
    for k, v in kwargs.items():
        el.append(v)
    return sum(el) / len(el)

average_score = get_average(korean=korean, english=english, mathematics=mathematics, science=science)
print( average_score )

82.75

In [27]:
print(f'낮은 점수: {min_score}, 높은 점수: {max_score}, 평균 점수: {average_score}')

낮은 점수: 76.0, 높은 점수: 89.0, 평균 점수: 82.75

In [28]:
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'.format(min_score, max_score, average_score))

낮은 점수: 76.00, 높은 점수: 89.00, 평균 점수: 82.75

### 재귀호출 사용하기

In [108]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n-1)

In [115]:
factorial(4)

24

In [110]:
def fibo(n):
    if n == 0 or n == 1:
        return 1
    return fibo(n-1) + fibo(n-2)

In [112]:
for i in range(1, 11):
    print(i, fibo(i))

1 1
2 2
3 3
4 5
5 8
6 13
7 21
8 34
9 55
10 89

In [113]:
# An = 3An-1 + 5An-2
#단 A1 = 1, A0 = 0

def series(n):
    if n == 0:
        return 0
    if n == 1:
        return 1
    return 3 * series(n-1) + 5 * series(n-2)

In [114]:
for i in range(1, 11):
    print(i, series(i))

1 1
2 3
3 14
4 57
5 241
6 1008
7 4229
8 17727
9 74326
10 311613

### 31.4 연습문제: 재귀호출로 회문 판별하기

In [117]:
def is_palindrome(word):
    if len(word) < 2 :
        return True
    if word[0] != word[-1]:
        return False
    return is_palindrome(word[1:-1])
print(is_palindrome('hello'))
print(is_palindrome('level'))

False
True

### 31.5 심사문제: 재귀호출로 피보나치 수 구하기

표준 입력으로 정수 한 개가 입력됩니다(입력 값의 범위는 10~30). 다음 소스 코드를 완성하여 입력된 정수에 해당하는 피보나치 수가 출력되게 만드세요.

피보나치 수는 0과 1로 시작하며, 다음 번 피보나치 수는 바로 앞의 두 피보나치 수의 합입니다.

In [ ]:
def fib(n):
    if n < 2:
        return n
    else:
        return fib(n-1) + fibo(n-2)

n = 20
print(fib(n))

# for i in range(1, n):
#     print(i, fib(i))